In [ ]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Swift", "Verna", "Polo", "Creta", "Innova"],
    "brand": ["Suzuki", "Hyundai", "VW", "Hyundai", "Toyota"],
    "color": ["Red", "White", "Red", "Black", "White"]
    })

print(df)

     name    brand  color
0   Swift   Suzuki    Red
1   Verna  Hyundai  White
2    Polo       VW    Red
3   Creta  Hyundai  Black
4  Innova   Toyota  White

## Encoding Categorical Variables

In [ ]:
import numpy as np
df_one_hot_encoded = pd.get_dummies(data = df, columns = ["brand", "color"])

print(df_one_hot_encoded )

   name  brand_0  brand_1  brand_2  brand_3  color_0  color_1  color_2
0     3    False     True    False    False    False     True    False
1     4     True    False    False    False    False    False     True
2     2    False    False    False     True    False     True    False
3     0     True    False    False    False     True    False    False
4     1    False    False     True    False    False    False     True

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

cols_to_encode = ["brand", "color"]
new_encoded_cols_names = []

# Create a list of new columns names
for col in cols_to_encode:
    new_encoded_cols_names += [f"is_{category}" for category in df[col].unique().tolist()]

print(new_encoded_cols_names)
#['is_Suzuki', 'is_Hyundai', 'is_VW', 'is_Toyota', 'is_Red', 'is_White', 'is_Black']

# Inititalize and fit One Hot Encoder class from sklearn
one_hot_encoder = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
encoded_cols = one_hot_encoder.fit_transform(df[cols_to_encode])

# As the output of the above transformer would be a sparse matrix, we need to convert it back to Pandas dataframe
df_encoded = pd.DataFrame(encoded_cols, columns = new_encoded_cols_names)
df_one_hot_encoded = df.join(df_encoded)

print(df_one_hot_encoded)

['is_1', 'is_0', 'is_3', 'is_2', 'is_1', 'is_2', 'is_0']
   name  brand  color  is_1  is_0  is_3  is_2  is_1  is_2  is_0
0     3      1      1   0.0   1.0   0.0   0.0   0.0   1.0   0.0
1     4      0      2   1.0   0.0   0.0   0.0   0.0   0.0   1.0
2     2      3      1   0.0   0.0   0.0   1.0   0.0   1.0   0.0
3     0      0      0   1.0   0.0   0.0   0.0   1.0   0.0   0.0
4     1      2      2   0.0   0.0   1.0   0.0   0.0   0.0   1.0

C:\Users\sijis\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for i in df:
    df[i] = label_encoder.fit_transform(df[i])

In [ ]:
df.brand.value_counts()

brand
0    2
1    1
3    1
2    1
Name: count, dtype: int64

In [ ]:
df

   name  brand  color
0     3      1      1
1     4      0      2
2     2      3      1
3     0      0      0
4     1      2      2

## Feature Scaling

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Create a DataFrame
data = pd.DataFrame({
    'age': [35, 45, 28, 52, 41],
    'income': [50000, 60000, 35000, 75000, 80000]
})

# Create a scaler object
scaler = StandardScaler()

# Fit the scaler on the data
scaler.fit(data)

# Transform the data
scaled_data = scaler.transform(data)

# Print the scaled data
print(scaled_data)

[[-0.63170839 -0.60858062]
 [ 0.58311544  0.        ]
 [-1.48208507 -1.52145155]
 [ 1.43349212  0.91287093]
 [ 0.09718591  1.21716124]]

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Create a DataFrame
data = pd.DataFrame({
    'age': [35, 45, 28, 52, 41],
    'income': [50000, 60000, 35000, 75000, 80000]
})

# Create a scaler object
scaler = MinMaxScaler()

# Fit the scaler on the data
scaler.fit(data)

# Transform the data
scaled_data = scaler.transform(data)

# Print the scaled data
print(scaled_data)

[[0.29166667 0.33333333]
 [0.70833333 0.55555556]
 [0.         0.        ]
 [1.         0.88888889]
 [0.54166667 1.        ]]